:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42aa;
  --gray: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;

  --raleway: 'Raleway', sans-serif;
  --roboto: 'Roboto', sans-serif;
}

body {
  font-family: var(--roboto);
  color: var(--slate);
  background-color: #ffffff;
}

.web {
  font-family: var(--raleway);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.studio {
  color: var(--navy-blue);
}

.link {
  text-decoration: none;
}
