* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--roboto);
  text-decoration: none;
  font-style: normal;
  line-height: 2;
  color: #434455;
  background-color: var(--white);
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42aa;
  --gray: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;

  --raleway: 'Raleway', sans-serif;
  --roboto: 'Roboto', sans-serif;
}

.head {
  line-height: 1.5;
}

.web {
  color: var(--iris);
  font-family: var(--raleway);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: inherit;
  font-weight: 800;
}

.head-studio {
  color: var(--navy-blue);
  font-family: var(--raleway);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  font-weight: 800;
}

.menu,
.features,
.what-we-do,
.our-team {
  list-style-type: none;
}

.menu :hover,
.address :hover {
  color: var(--ocean);
}

.menu-link {
  color: var(--navy-blue);
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.32px;
  text-decoration: inherit;
}

.address {
  list-style-type: none;
  font-style: normal;
}

.address-link {
  color: var(--navy-blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.hero,
.footer {
  background: var(--navy-blue);
}

.hero-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

.button {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.features {
  line-height: 2.5;
}

.title-three,
.title-four {
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.footer-studio {
  color: var(--cloud);
  font-family: var(--raleway);
  font-size: 18px;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-paragraph {
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}
